*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    margin-bottom: 2rem;
}

input{
    text-align: center;
    padding: 0.5rem;
    width: 15rem;
    outline: none;
    margin-top: 1rem;
}

button{
    border-radius: 10px;
    padding: 0.7rem;
    margin-top: 2rem;
    width: 7rem;
}

@media (min-width: 650px) {
    button:hover{
        background-color: rgb(167, 167, 167);
        cursor: pointer;
        transition: ease-in-out 300ms;
    }
}